*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.box-title{
    text-align: center;
    padding: 12px;
    margin: 12px 0;
}
.box-title h2{
    color: rgb(26, 44, 126);
}
.box-title h3{
    color: grey;
}

.content-box {
    display: flex;
    justify-content: center;
    text-align: center;
    border-radius: 6px;
    width: 240px;
    padding: 22px 8px;
    margin: 0px 54px;
    box-shadow: 0 0 4px rgba(158, 158, 158, 0.4); /* box shadow suave */
    color: rgb(26, 44, 126);
}
