*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header, main, footer{
    border: 1px solid black;
}

section:nth-child(odd){
    background-color: grey;
}

section:nth-child(even){
    background-color: white;
}

.box{
    width: 22%;
    padding: 12px;
    border: 1px solid red;
    text-align: center;
}

.containerSecao{
    padding: 24px;
    display: flex;
    flex-direction: row;
    gap: 12px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.centralizar{
    text-align: center;
}