@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: #0d253f;
    font-family: 'roboto mono';
    padding: 36px 0 0 0;
}

#box-header{
    width: 50%;
    margin: auto;
    text-align: center;
}

#box-header img{
    width: 186px;
    margin-bottom: 36px;
}

#box-filmes {
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
}

#box-filme{
    display: flex;
    flex-direction: row;
    border-radius: 24px;
    overflow: hidden;
    color: white;
    background-color: #0d1e31;
    transition: all 0.2s ease-in-out;
}

#box-filme:hover{
    transform: scale(1.05);
    background-color: #082c52;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

#box-filmes p{
    padding: 8px 12px;
    width: 100%;
}

#tituloFilme{
    font-weight: 600;
    color: #90cea1;
    font-size: 28px;
}

#nota{
    font-weight: 700;
    color: #f9f871;
    font-size: 18px;

}

img{
    width: 286px;
}

#info{
    display: flex;
    flex-direction: column;
    gap: 14px;
    padding: 8px 12px;
}

#box-generos {
    color: #cccccc;
    font-weight: 700;
    margin-top: auto;
}

footer{
    text-align: center;
    color: white;
    padding: 36px;
    font-size: 12px;
}